.ui-items {
  list-style: none;
  padding: 0px;

  border-right: 1px solid #e8e8e8;

  li a {
    background: #fff;
    color: rgba(0, 0, 0, 0.65);
    padding: 15px 16px;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #e8e8e8;
  }
}